.body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
}  

.header {  
    background-color: green;  
    color: white;  
    padding: 20px;  
    text-align: center;  
}  

.nav a {  
    margin: 0 15px;  
    color: white;  
    text-decoration: none;  
}  

.container {  
    display: flex;  
    margin: 20px;  
}  

.aside {  
    flex: 1;  
    background-color: #f0f0f0;  
    padding: 20px;  
}  

.main {  
    flex: 3;  
    margin-left: 20px;  
}  

.article {  
    margin-bottom: 20px;  
    border: 1px solid #ccc;  
    padding: 10px;  
}  

.footer {  
    text-align: center;  
    padding: 10px;  
    background-color:black;  
    color: white;
}
/* Đặt màu xanh và gạch chân cho các liên kết và các mục */
.a.highlight, li.highlight {
    color: blue; /* Chữ xanh */
    text-decoration: underline; /* Gạch chân */
  }
